.footer {
  width: 100%;
  background-color: rgba(134, 178, 234, 0.986);
  /* position: relative; */
  position: relative;
  /* justify-content: space-between;
  display: flex; */
}

.footer .footer-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer .footer-right {
  position: absolute;
  right: 0;
  bottom: 0;
}